/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <behaviors/unicode.dtsi>

&uc {
  default-mode = <UC_MODE_WIN_COMPOSE>;  // Replace with desired input system.
};

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };


    macros {
        key_dash: key_dash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS>;
        };

        key_underscore: key_underscore {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp UNDERSCORE>;
        };
        ctrl_c: ctrl_c {
            label = "CtrlC";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>;
        };
        ctrl_v: ctrl_v {
            label = "CtrlV";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(V)>;
        };
        ctrl_a: ctrl_a {
            label = "CtrlA";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A)>;
        };
        ctrl_s: ctrl_s {
            label = "CtrlS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(S)>;
        };
        win_d: win_d {
            label = "WinD";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(D)>;
        };
        win_l: win_l {
            label = "WinL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(L)>;
        };
        ctrl_f5: win_l {
            label = "CtrlF5";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(F5)>;
        };
    };


     behaviors {

        cd: comma_dot {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";  
            tapping-term-ms = <200>;         
            bindings = <&kp>, <&kp>;
            display-name = "Comma-Dot";
        };
        du: dash_underscore {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";    // tap outputs dash
            tapping-term-ms = <200>;     // adjust to taste
            bindings = <&key_underscore &key_dash>;
            display-name = "Dash-Underscore";
        };
    };


        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
//|  Q  |  W  |  E  |  R  |  T  |      |  Y  |  U  |  I  |  O  |  P   |
//|  A  |  S  |  D  |  F  |  G  |      |  H  |  J  |  K  |  L  |  å   |
//|  Z  |  X  |  C  |  V  |  B  |      |  N  |  M  |  æ  |  ø  |  ,   |
//                 | Shift | L2 | Space | Enter | L1 | Bksp |
                        display-name = "Base";
                        bindings = <
 &kp Q  &kp W  &kp E      &kp R  &kp T        &kp Y    &kp U  &kp I          &kp O    &kp P         
 &kp A  &kp S  &kp D      &kp F  &kp G        &kp H    &kp J  &kp K          &kp L    &uc 0xE5 0xC5    
 &kp Z  &kp X  &kp C      &kp V  &kp B        &kp N    &kp M  &uc 0xE6 0xC6       &uc 0xF8 0xD8   &cd DOT COMMA
                     &kp LEFT_SHIFT  &mo 2  &kp SPACE    &kp RET  &mo 1  &kp BACKSPACE
                        >;  
                }; 

                lower_layer {
// -----------------------------------------------------------------------------------------
//| ___ |  ↑  | ___ | RAlt |  Tab |   BT0  |   BT1  |   BT2  |   BT3  |   BT4  |
//|  ←  |  ↓  |  →  | ___  | Ctrl-S |  ___ |  ___ |  ___ |  ___ |  ___ |
//| Del | Ctrl-A | Ctrl-C | Ctrl-V | Win-D | Win-L | ___ | ___ | F5 | CTRL-F5 |
//                    | GUI | TOG3 | Space | Enter | ___ | Shift |
                        display-name = "Lower";
                        bindings = <
  &none       &kp UP     &none         &kp RALT      &kp TAB        &bt BT_SEL 0         &bt BT_SEL 1         &bt BT_SEL 2   &bt BT_SEL 3         &bt BT_SEL 4         
  &kp LEFT    &kp DOWN   &kp RIGHT     &none      &ctrl_s       &none         &none      &none   &kp F5       &ctrl_f5         
  &kp DELETE  &ctrl_a  &ctrl_c     &ctrl_v  &win_d    &win_l &none  &none   &none  &none 
                              &kp LEFT_GUI  &tog 3     &kp SPACE    &kp RET       &none         &kp LSHFT
                        >;
                };

                raise_layer {
                        // -----------------------------------------------------------------------------------------
//|  +  |  -  |  *  |  /  |  \  |      |  (  |  )  |  7  |  8  |  9  | 
//|  !  |  ?  |  |  |  '  |  "  |      |  [  |  ]  |  4  |  5  |  6  |
//|  =  |  &  |  @  |  #  |  %  |      |  {  |  }  |  1  |  2  |  3  |
//                  | TAB | ___ | SPACE | RET | 0 | BSPC |
                        display-name = "Raise";
                        bindings = < 
  &kp PLUS         &du MINUS UNDERSCORE     &kp KP_MULTIPLY    &kp SLASH         &kp BACKSLASH        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp KP_NUMBER_7    &kp KP_NUMBER_8  &kp KP_NUMBER_9  
  &kp EXCLAMATION  &kp QUESTION   &kp PIPE     &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp KP_NUMBER_4    &kp KP_NUMBER_5  &kp KP_NUMBER_6  
  &kp EQUAL        &kp AMPERSAND  &kp AT_SIGN  &kp HASH          &kp PERCENT          &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp KP_NUMBER_1    &kp KP_NUMBER_2  &kp KP_NUMBER_3  
                                       &kp TAB      &none             &kp SPACE            &kp RET               &kp N0                 &kp LC(BACKSPACE)
                        >;
                };

                        OSRS {
            display-name = "OSRS";
            bindings = <
  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &none  &none  &none  &none  &none  
  &none        &none        &none        &none        &none    &none  &none  &none  &none  &none 
 &none        &none        &none        &none        &none    &none  &none  &none  &none  &none  
                                    &kp ESC       &kp LSHIFT        &kp SPACE     &none  &tog 3  &none
                >;
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
